body {
  font-family: sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #121212;
  color: #ffffff;
}
h1, h2, h3 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

section {
  background: #1e1e1e;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
}


input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;           /* Hier das Padding für Textfelder */
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #2a2a2a;
  color: #ffffff;
}
input[type="range"] {
  width: 100%;
  padding: 0px;          /* Padding 0 nur hier */
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #2a2a2a;
  color: #ffffff;
  accent-color: #ffffff; /* optional */
  height: 30px;          /* evtl. Höhe anpassen, damit Slider größer wirkt */
}
#drinkDetails {
  margin-top: 10px;
}

/* Buttons für Slider-Navigation */
.navBtn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
  vertical-align: middle;
  transition: color 0.2s ease;
}

.navBtn:hover {
  color: #ffffff;
}

.drinkImage {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  user-select: none;
  border: 2px solid #797c7e;
  box-shadow: 0 0 12px #ffffffaa;
  cursor: grab;
  display: block;
  transition: transform 0.3s ease;
}

#drinkSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 30px auto;
  user-select: none;
  touch-action: pan-y;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: bold;
}

button:hover {
  background-color: #ffffff;
}

#promille {
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  margin-top: 0px;
  color: #ffffff;
}

@media (max-width: 500px) {
  body {
    padding: 10px;
  }

  button {
    font-size: 0.9rem;
    padding: 8px;
  }

  input[type="range"] {
    width: 100%;
  }
}
#drinkSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}